@inherits LayoutComponentBase

<div class="page" style="background: linear-gradient(to bottom, #4b0082, #2c006f); min-height: 100vh">
    <main>
        <div class="container px-4 pt-4">
            @Body
        </div>
    </main>
</div>

<!-- Error UI -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
